.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin-left: 390px;
  border-radius: 30px;
}
.cal{
  display: grid;
  grid-column: auto;
}
.reset:hover{
  background-color: brown;
  cursor: pointer;
  border: none;
}
.reset{
  border-radius: 30px;
  border: none;
}

.btn{
background-color: brown;
border-radius: 30px;
border: none;

}
.btn:hover{
cursor: pointer;
}